@import './iconfont.css';

*{
    margin:0;
    padding: 0;
}
body{
    background: #f0f0f0;
}
section{
    width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
}
a{
    text-decoration: none;
    font-size: 1rem;
    color: #888;
}
p,b{
    color: #888;
}
a:hover{
    text-decoration: none;
    color: #0083ec !important;
}
.triangle{
    display: inline-block;
    width:0;
    border:5px solid transparent;
    border-top-color:#ddd;
}
ul.list-unstyled{
    list-style: none;
}
.iconfont.eye{
    font-size: 20px;
    color: #bfbfbf;
    margin-right: 5px;    
}
.content-ul-watch{
    display: flex;
    align-items: center;
}

.el-menu{
    border-right: none;
}
.el-menu-item,.el-submenu__title{
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}
.mr-10{
    margin-right: 10px !important;
}
.el-submenu .el-menu-item {
    min-width: 179px !important;
    box-sizing: border-box;
    background: #1f2d3d !important;
    padding-left:50px !important;
}
.el-submenu .el-menu-item:hover {
    background: #001528 !important;
}

.manage-container{
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
}
.manage-container-top{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.manage-container-input{
    width: 300px;
}
.manage-container-btn{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #0083ec;
    color: #fff;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 10px;
    cursor: pointer;
}
.manage-container-bot{
    width: 100%;
    display: flex;
    background: #fff;
}
.manage-container-btn.danger{
    background: #f56c6c;
}