@font-face {
  font-family: "iconfont"; /* Project id 2145416 */
  src: url('./iconfont/iconfont.woff2?t=1651667854236') format('woff2'),
       url('./iconfont/iconfont.woff?t=1651667854236') format('woff'),
       url('./iconfont/iconfont.ttf?t=1651667854236') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconyonghu:before {
  content: "\e633";
}

.iconshouji:before {
  content: "\e6c7";
}

.iconxiangzuo3:before {
  content: "\e626";
}

.iconxiangyou3:before {
  content: "\e62a";
}

.iconjiesuo:before {
  content: "\e669";
}

.iconyouxiang:before {
  content: "\e616";
}

.iconbianji:before {
  content: "\e657";
}

.iconsousuo:before {
  content: "\e60d";
}

.iconyanjing:before {
  content: "\e8c7";
}

