section>div.top,section>div.content>div.comment,section>div.content>div.recommend{
    background: #fff;
}
section>div.top{
    display: flex;
}
section>div.top>div>img{
    width: 200px;
    box-shadow: 2px 2px 10px #000;
}
section>div.top>div{
    text-align: left;
    padding: 20px;
}
section>div.top>div>h3{
    margin-top:20px; 
}
section>div.top>div>h3:hover{
    color: #0083ec;
}
section>div.top>div>div.bookinfor span{
    color: #888;
    margin-right: 10px;
}
section>div.top>div>div.bookinfor>div{
    float: right;
}
section>div.top>div>div.bookinfor>div>img{
    width: 30px;
}
section>div.top>div>div.bookinfor>div>span{
    font-size: 14px;
}
section>div.top>div>div{
    margin-bottom: 10px;
}
section>div.top>div>div.price>span{
    color: #0083ec;
}
section>div.top>div>div>a,section>div.content>div.comment>div>a{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
    border-radius: 2px;
    background: #ddd;
    color: #0083ec;
}
section>div.top>div>div>a:hover{
    background: #0083ec;
    color: #fff !important;
}
section>div.top>div>div.intro{
    border-top: 1px dotted #888;
    padding-top:5px;
}
section>div.content{
    margin-top: 20px;
    text-align: left;
    display: flex;   
}
section>div.content>div.comment{
    padding: 20px;
    width: 800px;
}
section>div.content>div.comment>ul.show>li{
    font-size: 22px;
    color: #0083ec;
    padding: 10px;
}
section>div.content>div.comment>ul.show>li+li{
    border-top: 1px dotted #ddd;
    display: flex;
}
section>div.content>div.comment>ul.show>li>span{
    font-size: 14px;
    color: #888;
    margin-left: 10px;
}
section>div.content>div.comment>ul.show>li>div+div{
    margin-left: 10px;
    width: 100%;
}
section>div.content>div.comment>ul.show>li>div>img{
    width: 60px;
}
section>div.content>div.comment>ul.show>li>div>div{
    width: 100%;
}
section>div.content>div.comment>ul.show>li>div>div>span.user{
    color: rgb(248, 88, 88);
}
section>div.content>div.comment>ul.show>li>div>div>span.time{
    color: #888;
    font-size: 16px;
    float: right;
}
.page-ul{
    display: flex;
    margin: 0;
    margin-top: 5px;
}
.page-ul>li{
    margin-left: 10px;
}
.page-ul>li>a{
    display: block;
    width: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    background: #ddd;
    border-radius: 2px;
    color: #0083ec;
}
.page-ul>li>a:hover,.page-ul>li>a.active{
    background: #0083ec !important;
    color: #fff !important;
}
.page-ul>li>a.prev,.page-ul>li>a.next{
    width: 40px;
}
.page-ul>li>p{
    font-size: 14px;
    margin: 0;
    line-height: 30px;
}
.page-ul{
    justify-content: center;
}
section>div.content>div.comment>div{
    margin-bottom: 40px;
}
section>div.content>div.comment>div>textarea{
    width: 100%;
}
section>div.content>div.comment>div>a{
    background: #0083ec;
    color: #fff;
    float: right;
}
section>div.content>div.comment>div>a:hover{
    background: #0366ee;
    color: #fff !important;
}
section>div.content>div.recommend{
    width: 320px;
    margin-left: 20px;
    padding: 10px;
}
section>div.content>div.recommend>ul{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}
section>div.content>div.recommend>ul>li{
    width: 130px;
    margin: 5px;
}
section>div.content>div.recommend>ul>li>a{
    font-size: 16px;
    color: #000;
}
section>div.content>div.recommend>ul>li>p{
    font-size: 12px;
    margin: 0;
}
section>div.content>div.recommend>ul>li>a>img{
    width: 130px;
}
section>div.content>div.recommend>ul>li>div>img{
    width: 20px;
}
section>div.content>div.recommend>ul>li>div>span{
    font-size: 12px;
}