section>div.top>div{
    display: flex;
    justify-content: space-between;
}
section>div.top>div>h4{
    color: #0083ec;
}
section>div.top>div>p>span{
    margin-left: 10px;
}
section>div.content{
    background: #fff;
}
section>div.content>ul{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
section>div.content>ul>li{
    width: 350px;
    padding: 5px;
    margin:0 10px 10px; 
    border-bottom: 1px dashed #888;
    display: flex;
    justify-content: space-between;
}
section>div.content>ul>li>a{
    font-size: 18px;
}
section>div.content>ul>li>span{
    display: block;
    background: #0083ec;
    color: #fff;
    border-radius: 5px;
    width: 40px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
}