body{background: #f0f0f0;}
.genre,.show,.showTitle,.showContent{
    width: 1140px;
    margin: 0 auto;
}
.genre>div:nth-child(2){
    border-bottom: 1px dashed #f0f0f0;
    border-top: 1px dashed #f0f0f0;
}
.choose{
    background: #fff;
    display: flex;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.choose>span{padding-top: 0.5rem}
.choose>a{
    padding-top: 0.5rem;
    margin-left: 3rem;    
}
.choose>a>span.triangle{
    margin-left: 0.5rem;
}
.choose-ul{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0;
}
.choose-ul li{
    margin-left:2rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;   
}
.choose-item{
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    border: 1px solid #888;
    border-radius: 10rem;
}
.choose-item:hover{
    border-color: #0083ec;
}
.choose-item.active,.choose-item.active:hover{
    background: #0083ec;
    color: #fff !important;
}
.show{
    position: relative;
}
.showTitle{
    display: flex;
    justify-content: space-between;
    margin-top:3rem;
}
.showTitle>div{
    display: flex; 
}
.showTitle>div>a{
    display: block;
    background: #f5f5f5;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ddd;
    border-bottom: none;
}
.showTitle>div>a+a{
    border-left:none; 
}
.showTitle>div>a.active,.showContent{
    background: #fff;
    color: #0083ec;
}
.showBorder{
    width: 120px;
    height: 41px;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 0px;left: 0px; 
}
.showContent{
    border: 1px solid #ddd;
}
.showContent>.content-ul{
    padding: 30px 15px 0px;
    display: flex;
    flex-wrap: wrap;
    width: 1140px; 
}
.content-ul>li{
    display: flex;
    margin: 0px 15px 30px;
}
.content-ul>li>a>img{
    width: 150px;
}
.content-ul>li>div{
    margin-left: 10px;
    width: 170px;
    height: 200px;
}
.content-ul>li>div>a{
    font-size: 18px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.content-ul>li>div>p{
    margin: 0;
    font-size: 14px;
}
.content-ul>li>div>p>a{
    float: right;
    display: block;
    width: 32px;
    height: 24px;
    font-size: 13px;
    text-align: center;
    line-height: 24px;
    border-radius: 2px;
    background: #0083ec;
    color: #fff;
}
.content-ul>li>div>p>a:hover{
    background: #2468fa !important;
    color: #fff !important;
}
.content-ul>li>div>div>img{
    width: 20px;
}
.content-ul>li>div>div>span{
    font-size: 12px;
}
.content-ul>li>div>p.intro{
    margin-top: 15px;
    height: 108px;
    overflow: hidden;
}
.page-ul{
    display: flex;
    margin: 0;
    margin-top: 5px;
}
.page-ul>li{
    margin-left: 10px;
}
.page-ul>li>a{
    display: block;
    width: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    background: #ddd;
    border-radius: 2px;
    color: #0083ec;
}
.page-ul>li>a:hover,.page-ul>li>a.active{
    background: #0083ec !important;
    color: #fff !important;
}
.page-ul>li>a.prev,.page-ul>li>a.next{
    width: 40px;
}
.page-ul>li>p{
    font-size: 14px;
    margin: 0;
    line-height: 30px;
}
.show>.page-ul{
    justify-content: center;
}