*{
    margin:0;
    padding: 0;
}
body{
    background: #f0f0f0;
}
section{
    width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
}
a{
    text-decoration: none;
    font-size: 1rem;
    color: #888;
}
p,b{
    color: #888;
}
a:hover{
    text-decoration: none;
    color: #0083ec !important;
}
.triangle{
    display: inline-block;
    width:0;
    border:5px solid transparent;
    border-top-color:#ddd;
}