div input{
    height: 2rem;
    width: 12rem;
    line-height: 2rem;
    border: 1px solid #d2d2d2;
    border-radius: 50px;
    color: #888;
    font-size: 12px;
}
div input:hover,div .btn:hover{
    border-color:#666;
}

div .btn{
    background: transparent;
    border: 1px solid #d2d2d2;
    height: 2rem;
    line-height: 0.8rem;
}
.bg-light {
    background-color: transparent !important;
}
.row>div.login{
    padding-top: 0.8rem;
}
.navbar div input{
    width: 20rem;
    margin-right: 5rem;
}
@media screen and (max-width: 767px){
    .row>div.login{
        display: none;
    }
}
@media screen and (min-width: 768px){
    .navbar div{
        display: none;
    }
}
@media screen and (max-width: 576px){
    .navbar div input{
        width: 12rem;
       margin-right: 1rem;
    }
    div>a.text-lg-right{
        text-align: center;
    }
}

