.my_header{
    width: 100%;
    height: 10rem;
}
.my_footer{
    width: 100%;
    height: 15rem;
}
#c1{
    width: 100%;
    height: 30rem;
    background: url("../img/index/bg_index_c2.png") no-repeat 50% 50%;
    background-size:cover;
}
#c1 .carousel-inner div img{
    width: 15rem;
    height: 20rem;
}
.carousel-caption{
    width: 20%;
}
.carousel-caption a{
    font-size: 1.5rem;
    color: #ffffff;
}
.carousel-caption p.content{
    color: #ffffff;
}
div.row div.f6{
    height: 30rem;
    background: #ffffff;
    border: 1px dotted #888;
}
div.row div.f6 a img{
    width: 15rem;
}
#c1>div>a>img{
    width: 10rem;
    transition: all 1s;
}
#c1>div>a>img.show{
    border: 1px solid #0083ec;
    transform: scale(1.1);
}
#c1>article{
    width: 60rem;    
    display: none;
    margin: auto;
}
#c1>article>a{
    font-size: 2rem;
    color: #fff;
}
#c1>article>a:hover{
    color: #0083ec;
}
#c1>article>p{color: #ddd}
#c1>article.show{
    display: block;
    text-align: center;
}



