body{
    background: #e9e3d6;
}
section{
    background: #f7f2e8;
    width: 800px;
    margin-top: 0;
    padding: 50px;
}
section>div.top{
    text-align: left;
    font-size: 14px;
    color: #888;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
}
section>div.top>span>a{
    color: #0083ec;
}
section>div.top>a{
    display: block;
    width: 70px;
    height: 26px;
    background: #0083ec;
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    float: right;
}
section>div.top>a:hover{
    background: #0366ee;
    color: #fff !important;
}
section>div.content{
    margin-top: 50px;
}
section>div.content>h3{
    margin-bottom: 20px;
}
section>div.content>p{
    font-size: 18px;
    color: #444;
    text-align: left;
    margin-bottom: 20px;
}
nav>ul{
    width: 50px;
    position: fixed;
    top: 200px;
    left: 1160px;
}
nav>ul>li>a{
    display: block;
    width: 50px;
    height: 50px;
    background: #f7f2e8;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
}
nav>ul>li+li{
    border-top: 1px solid #b3afa8;
}
div.bot>ul{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
div.bot>ul>li{
    width: 100px;

}
div.bot>ul>li+li{
    margin-left: 20px;
}
div.bot>ul>li>a{
    display: block;
    width: 100px;
    height: 40px;
    background: #f7f2e8;
    text-align: center;
    line-height: 40px;
    font-size: 18px; 
    border: 1px solid #b3afa8;   
}
div.bot>ul>li>a:hover{
    border-color: #0083ec;
}