section{
    display: flex;
}
div.reg{
    width: 400px;
    margin-right: 20px;
}
div.reg>h2{
    color: #0083ec;
    font: 60px '华文行楷','kaiti','Simsun','heiti';
    margin-bottom: 20px;
}
div.reg>p{
    font-size: 24px;
    color: #000;
}
div.reg>p>input{
    height: 40px;
    width: 240px;
    line-height: 40px;
    outline-style: none;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    color: #888;
    font-size: 18px;
    padding-left: 10px;
}
div.reg>p>span{
    display: block;
    font-size: 18px;
    padding-left: 120px;
}
div.reg>a{
    display: block;
    width: 240px;
    height: 45px;
    background: #0083ec;
    color: #fff;
    line-height: 45px;
    text-align: center;
    border-radius: 4px;
    font-size: 24px;
    margin-left: 140px;
}
div.reg>a:hover{
    background: #0366ee;
    color: #fff !important;
}